// colors
$text: #130E20
$description: #82818A
$hint: #A6A5AA
$line: #E3E3E4
$success: #10C374
$success-hover: #3CA983
$accent: #A71D36
$accent-hover: #83172a
$peach: #FCCFC3


$padding: 20px

*
  margin: 0
  padding: 0

// general
a
  text-decoration: none
  color: $text

p, label, h1, h2, h3, h4, h5, span, small, ul, li
  margin: 0
  padding: 0
  font-size: inherit

h1, h2, h3, h4, h5
  font-weight: bold

ul
  list-style: none
  background: red

li
  list-style: none

button, input, textarea
  font-family: 'Lato', sans-serif