@import "./mixins.sass"


.home
  &__top
    display: flex
    justify-content: space-between
    text-align: center
    align-items: center
    height: 10vh

    .top__search
      width: 20%
    .top__title
      width: 60%
      .pretitle
        display: none
      .title
        font-size: 26px
        font-weight: 900
    .top__actions
      width: 20%
      .try_button
        display: none
  
  .fly_top_divider
    display: none

  &__sidebar
    height: 10vh
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin: 20px 0

    .sidebar__menu
      display: none

    .social__media
      display: flex
      align-items: center
      justify-content: center
      .media__link
        margin-right: 15px

  
  &__content
    .content__text
      // height: 60vh
      text-align: center
      padding: 0 $padding
      margin-bottom: 30px

      .pretitle
        color: $hint
        font-size: 14px
      .title
        font-size: 24px
        font-weight: 900
        margin-bottom: 15px
      .subtitle
        color: $description
        margin-bottom: 25px
        @include limited_text
      .try_button
        @include basic_button
      .try_button:hover
        background: $text
        color: white

    .content__bottom

      .bottom_block
        padding: 20px $padding
        height: 100%
        background: #F8F8F8
        display: flex
        align-items: center
        justify-content: center
        border-top: 1px solid $line
        border-bottom: 1px solid $line

        .bottom_title
          font-size: 18px
          font-weight: 900
          margin-bottom: 10px
        .bottom_text
          margin-bottom: 10px
        .bottom_date
          font-weight: bold

.account
  display: flex
  align-items: center
  justify-content: center
  padding: $padding
  padding-top: 150px

  .form_wrapper
    max-width: 500px
    width: 500px
    .title_text
      margin-bottom: 30px
      .prelim
        font-size: 14px
        color: $hint
        text-transform: uppercase
        font-weight: bold

      .title
        font-weight: 900
        font-size: 32px
      .subtitle
        font-size: 14px
        color: $description
        font-weight: bold

        a
          color: #577A9A
          text-decoration: none

    .form_button
      width: 100%
      color: $description
      border: 2px solid $hint
      padding: 15px 0
      border-radius: 5px
      background: none
      font-weight: bold
      font-size: 16px
      margin-top: 15px
      transition: 0.3s
      outline: none
      cursor: pointer
    
    .form_button:hover
      background: $description
      color: white


.articles
  &__top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    padding: $padding $padding 0 $padding

    .top__text
      h1
        font-size: 32px
        font-weight: 900
      img
        display: none

    .top__menu
      display: flex
      align-items: center
      .user_avatar
        display: none
      .search_menu
        display: none


  &__content
    padding: 0 $padding

    .pages_menu
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid $line

      .menu__item
        padding: 10px 0
        width: 25%
        text-align: center
        border-bottom: 2px solid transparent
        cursor: pointer
        color: $description
        font-size: 14px
        font-weight: bold

      .selected
        color: $text
        border-bottom: 2px solid black

    .articles
      padding-bottom: 150px
    
    .articles__detail
      border-bottom: 1px solid $line
      padding: 25px 0
      display: grid
      grid-template-columns: 40px 50px 1fr 50px
      background: white

      &.not_move
        grid-template-columns: 50px 1fr 50px

      &.selected
        opacity: 0.5
        background: #f3f3f3

      .article__icon
        .img
          cursor: pointer

      .article__content
        overflow: hidden
        .a_title
          font-weight: bold
          margin-bottom: 5px
          font-size: 18px
          cursor: pointer
          display: block
          position: relative
          width: 100%

          .text
            @include limited-text
            margin-bottom: 5px
            margin-right: 20px

          .tag_list
            .tag
              font-size: 12px
              padding: 4px 10px 4px 25px
              margin-bottom: 10px
            .pre_tag_block
              height: 18px
              left: 10px

        .no_title
          color: $hint
          font-weight: normal

        .a_data
          font-size: 14px
          color: $hint
  

    .tags_articles_block
      margin-bottom: 30px
      .tag
        font-size: 22px
        font-weight: 900
        margin-bottom: 15px
      
      .detail_tags_article
        margin-bottom: 10px
        display: flex
        cursor: pointer
        .img
          margin-right: 10px
        .title
          font-size: 18px
          font-weight: bold
          margin-right: 15px
        .base_name
          color: $hint

    .tags_articles_block:first-child
      margin-top: 30px


.new_article    
  .shadow_wrapper
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: rgba(0, 0, 0, 0.62)
    height: 100vh
    max-height: 100vh
    transition: 0.5s
    z-index: 5

    &.new_article__content
      padding: 0

  .new_article_sidebar
    height: 60%
    height: 100%


  &__sidebar
    width: 70%
    transition: 0.2s
    z-index: 5
    background: white
    position: fixed
    height: 100vh
    overflow-y: auto

    &.desktop
      display: none
      
    
    .sidebar_top
      display: flex
      justify-content: space-between
      padding: 10px $padding
      margin-bottom: 15px

      .icon
        cursor: pointer

    .article_link
      @include centerY
      padding: 10px 20px
      cursor: pointer
      transition: 0.3s
      font-weight: 600
      color: $description

      &.selected
        background: #f0f0f0
        color: $text
        // font-weight: bold

      .text
        color: $description
    
    .article_link:hover
      background: #f7f7f7


  &__menu
    z-index: 4
    height: 8vh
    position: fixed
    width: 100%
    border-bottom: 1px solid $line
    display: flex
    justify-content: space-between
    padding: 0 $padding
    background: #F6F6F6

    .article_info
      width: 70%
      @include centerY

      .article_name
        font-weight: bold
        @include limited-text
    
    .icon
      margin-right: 15px
      cursor: pointer

      img
        width: 24px
        height: 24px

      &.desktop
        display: none
      
      &.action
        img
          width: 30px
          height: 30px

    .article_actions
      width: 30%
      @include centerY
      justify-content: space-between


  &__content
    padding: 15vh $padding
    
    .block_title
      position: relative
      padding: 40px 0 10px

      .tag_manage
        display: flex
        align-items: flex-end
        flex-wrap: wrap
  
        img
          width: 32px
          cursor: pointer
          margin-right: 15px


        .add_tag_block
          @include centerY
          transition: 0.5s
          // position: absolute
          top: 0
          cursor: pointer
          height: 37px

          .icon
            width: 32px
            height: 32px

          .text
            font-size: 16px
            color: $hint
            font-weight: bold
            transition: 0.3s

        .add_tag_block:hover
          .text
            color: $text

        .tag_input
          height: 37px
          position: relative
          form
            height: 100%
          input
            border: none
            outline: none
            height: 100%
            font-size: 18px

          .fold_tags
            position: absolute
            top: 40px
            border: 1px solid $line
            border-radius: 2px
            background: white
            z-index: 3

            .default_tag
              padding: 10px 35px
              cursor: pointer
              transition: 0.3sk

            .default_tag:hover
              background: #F8F8F8
            

      
      .title_input
        width: 100%

        input, textarea
          border: none
          font-size: 32px
          font-weight: 900
          width: 100%
          outline: none
          padding: 15px 0
          line-height: 32px
          resize: none
          height: 62px
        
        input::placeholder, textarea::placeholder
          color: $hint

    .article_blocks
      .detail_block
        display: grid
        grid-template-columns: 40px 1fr 40px
        position: relative
        // background: lightblue
        cursor: grab

        &.selected
          background: #f5f5f5

        &__icon
          padding-top: 10px
          display: flex
          justify-content: center
          cursor: pointer
          align-items: flex-start
          
          .icon
            margin-right: 0

          &.move
            z-index: -1

        .block_input
          outline: none
          width: 100%
          padding: 5px 7px
          position: relative

          .row_numbered
            position: absolute
            top: 0
            padding: 25px 10px 0
            font-size: 12px
            .number
              display: block
              color: $hint
              height: 32px

          .code_lang
            position: absolute
            top: 10px
            right: 5%
            width: 30px
            height: 30px
            transition: 0.5s
            padding: 5px
            border-radius: 3px
            cursor: pointer
            z-index: 2

            img
              width: 100%

            .lang_lists
              display: none
              background: white
              div
                background: white
            
          .code_lang:hover
            background: #e2e2e2
            .lang_lists
              display: block

          .input_content
            display: inline

          textarea, .textarea
            border: none
            outline: none
            width: 1px
            resize: none
            width: 100%
            font-size: 16px
            margin-right: 30px
            line-height: 2
            transition: 0.1s
            // background: lightblue
            overflow-y: hidden

            li
              display: list-item

          textarea::placeholder
            color: $hint
          
          .title_textarea
            // background: red
            font-weight: 900
            line-height: 1.4

          .title_textarea::placeholder
            font-weight: 900
            font-size: 28px
            color: $hint
          
          .h1, h1
            font-size: 28px

          .markdown_result
            width: 100%
            height: 100%
            h2
              font-size: 24px
            
            h3
              font-size: 20px

          .code_textarea
            background: #FBFDFF
            border: 1px solid $line
            padding: 10px 0 0 40px
            font-size: 16px
            width: calc( 100% - 60px )
            // height: 42px

          .markdown_textarea
            background: #F6F6F6
            border-radius: 2px
            border: 1px solid $line
            padding-left: 5px
            line-height: 1.9
            font-family: 'Anonymous', sans-serif
            font-size: 13px

          .img_textarea
            width: 100%
            cursor: pointer
            overflow-x: hidden
            textarea
              height: 1px
              width: 1px
              z-index: -100
              overflow: hidden
              position: absolute
              top: -10000px
            img
              max-width: 100%
              border-radius: 5px
              border: 4px solid white
              transition: 0.3s

            .focussed
              border: 4px solid lightblue

            .file_label
              animation: slide 1s infinite alternate ease-in-out
              transition: 1s
              width: 99%
              border: 2px dashed $line
              cursor: pointer
              display: block
              text-align: center
              font-size: 14px
              padding: 10px 0
              color: $description
              border-radius: 5px

              input
                position: absolute
                height: 0px
                width: 0px
                background: white
                color: white
                top: 0
                left: 0

            .focussed_label
              border-color: lightblue
              background: red
            


        .block_input:hover
          .editor_buttons
            opacity: 1
            z-index: 1
      
        .popup_menu
          width: 100%
          height: 250px
          background: white
          position: absolute
          top: -250px
          overflow-y: auto
          border-radius: 5px
          box-shadow: 0px 4px 4px rgba(225, 225, 225, 0.25)
          border: 1px solid $line
          z-index: 5

          &__item
            display: grid
            padding: 0 20px
            grid-template-columns: 50px 120px 1fr
            height: 50px
            align-items: center
            font-size: 14px

            .tag
              font-weight: bold
            
            .name
              color: $description

            .icon
              width: 30px
              height: 30px
              @include centerXY

              .item_avatar
                width: 100%
                height: 100%
                border-radius: 50%
                border: 1px solid black
                @include centerXY

                img
                  width: 50%

            &.active
              background: #F9F9F9



    .focus_label
      display: block
      width: 100%
      height: 30vh
      color: white
      cursor: text


.approve__block
  position: fixed
  width: 100%
  min-height: 100vh
  z-index: 5

  .shadow_background
    width: 100%
    min-height: 100vh
    position: absolute
    top: 0
    left: 0
    background: rgba(0, 0, 0, 0.41)
    position: fixed
  
  &_content
    width: 65%
    height: 100vh
    right: 0
    top: 0
    background: white
    position: fixed
    padding: 20px
    transition: 0.3s

    .block_title
      font-weight: 900
      font-size: 24px
      margin-bottom: 20px

    .btn
      padding: 10px 15px
      background: none
      font-weight: bold
      border-radius: 5px
      border: 2px solid $text
      transition: 0.3s
      outline: none
      cursor: pointer

      &.cancel
        border: none
        color: $description

      &.success:hover
        background: $text
        color: white

.shadow_menu_wrapper
  position: fixed
  background: black
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  color: white
  top: 0
  left: 0
  z-index: 5

  .close_icon
    position: absolute
    top: 20px
    right: 40px

  .shadow_menu
    text-align: center
    a
      text-decoration: none
      color: white
      text-transform: uppercase
      font-size: 18px
    
    .menu_divider
      height: 1px
      width: 40%
      margin: 50px auto
      background: white



@media screen and (min-width: 1200px)
  $contentwidth: 1200px
  $padding: calc((100% - #{$contentwidth}) / 2)

  .home
    min-height: 100vh
    width: 100%

    .fly_top_divider
      display: block
      position: fixed
      height: 2px
      width: 100%
      top: 15vh
      background: linear-gradient(270deg, #FFFFFF 39.11%, rgba(255, 255, 255, 0) 68.03%), #C4C4C4
    
    .fly_right_divider
      display: block
      position: fixed
      width: 1px
      height: 100vh
      right: 25%
      bottom: 0
      background: linear-gradient(180deg, #FFFFFF 26.71%, rgba(255, 255, 255, 0) 100%), #D0D0D0

    &__top
      height: 15vh
      text-align: left
      position: fixed
      top: 0
      width: 100%
      z-index: 4
      background: white

      .top__search
        width: 15vh
        height: 100%
        background: rgba(0, 0, 0, 0.06)
        border-bottom: 1px solid $line
        border-right: 1px solid $line
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        transition: 0.3s
        img
          width: 50px

      .top__search:hover
        background: $line



      .top__title
        padding-left: 120px
        .pretitle
          display: block
          font-size: 14px
          color: $hint
          
        .title
          font-size: 32px
      
      .top__actions
        .open_menu
          display: none

        .try_button
          @include basic_button
          display: block
        .try_button:hover
          background: $text
          color: white

    &__sidebar
      left: 0
      height: 85vh
      background: #F8F8F8
      border-right: 1px solid $line
      width: 15vh
      position: fixed
      top: 13vh

      .sidebar__menu
        // display: block
        position: fixed
        width: 50vh
        -webkit-transform-origin: left top
        -webkit-transform: rotate(-90deg) translateX(-100%)
        display: flex
        align-items: center
        height: 15vh
        left: 0
        top: 15vh

        li
          margin-right: 100px
          font-size: 18px
          color: $description
        li:first-child
          font-weight: bold
          color: $text

      .social__media
        position: fixed
        left: 0
        bottom: 0
        height: 20vh
        width: 15vh
        display: block
        li
          margin-bottom: 10px
          margin-left: 40%

    &__content
      padding-left: 15vh
      padding-top: 15vh

      .content__text
        text-align: left
        padding-left: 100px
        // height: 64.5vh
        width: 60%

        .pretitle
          padding-top: 100px
        .title
          font-size: 42px
          font-weight: 900
        .subtitle
          white-space: normal
      
      .content__bottom
        display: flex
        align-items: flex-end
        justify-content: flex-end
        border-top: 1px solid $line
        position: fixed
        right: 0
        top: 0
        width: 25%
        height: 100vh
        .bottom_block
          width: 100%
          height: 170px
          bottom: 0
          border-top: none


  .account

  
  .articles
    &__top
      padding-left: $padding
      padding-right: $padding

      .top__text
        display: flex
        img
          display: inline
          margin-left: 20px
          cursor: pointer
      .top__menu
        align-items: center
        justify-content: space-between
        align-items: center
        width: 30%
        
        .user_avatar
          display: block
        .search_menu
          display: block
          .input
            margin-bottom: 0
        .menu_icon
          display: none


    &__content
      padding-left: $padding
      padding-right: $padding
      .content__search
        display: none
      
      .pages_menu
        justify-content: flex-start

        .menu__item
          width: 12%

      .articles__detail
        position: relative

        &.not_move
          grid-template-columns: 50px 1fr 50px

        .article__content
          .a_title
            display: flex
            flex-wrap: wrap

        .article__icon
          &.move
            display: none

  
  .new_article
    // background: red
    &__sidebar

      &.desktop
        display: block
        position: fixed
        left: 0
        top: 0
        height: 100vh
        width: 281px
        border-right: 1px solid $line

        .sidebar_top
          margin-top: 15px

    &__menu
      width: calc( 100% - 281px )
      position: fixed
      left: 281px
      background: white
      border-left: 1px solid $line
      display: grid
      grid-template-columns: 60% 40%
      .article_info
        align-items: center
        .icon
          &.desktop
            display: flex

          &.mobile
            display: none

      .article_actions
        justify-content: space-between
        width: 50%

    &__content
      $editWidth: 932px
      padding: 0
      transition: 0.3s


      .edit_article_block
        padding-top: 250px
        padding-left: 450px
        transition: 0.3s
        padding-right: calc(((100% - #{$editWidth}) / 3))

      .no_content
        padding-left: 550px

      .block_title
        padding-left: 40px
        .title_input

          textarea
            font-size: 56px
            line-height: 56px

      .article_blocks
        .detail_block

          .block_input
            .img_textarea
              img
                max-width: 600px
          &__icon
            // display: none
            opacity: 0

          .popup_menu
            &__item:hover
              cursor: pointer
              background: #F9F9F9
        
        .detail_block:hover
          .detail_block__icon
            opacity: 1

  .approve__block
    &_content
      width: 30%

          

































// old design
.menu
  padding: 20px $padding
  display: flex
  justify-content: space-between

  .logo
    font-size: 26px
    font-weight: 900

  .desktop__menu__list
    display: none

  .drop_menu
    z-index: 10
    &__wrapper
      width: 80%
      height: 100vh
      position: fixed
      box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25)
      top: 0
      right: 0
      background: white
      transition: 0.5s

      .menu__list
        padding: 40px 15px 0

        li
          margin-bottom: 20px
          font-weight: bold

.content

  h2 
    font-size: 30px
    margin-bottom: 40px

  padding: 0 $padding 30px

  .ideas
    padding-bottom: 30px

    &__draft
      &__detail
        margin-bottom: 20px
        border: 1px solid #d8d8d8
        background: #F8FFF8
        box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 5px
        padding: 10px 15px 0px
        width: minmax(100%, 768px)
        max-width: 768px
        position: relative

        img
          position: absolute
          right: 15px
          top: 10px
          width: 15px
          height: 15px
          cursor: pointer

        p
          margin-bottom: 10px

        .title, .date
          color: $description

        .name
          font-weight: bold
          font-size: 20px

        .absent
          font-size: 16px
          color: $hint
        
      &__detail:hover

    &__completed
      margin: 50px 0 0
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

      &__detail
        margin-bottom: 20px
        margin-right: 30px
        border-bottom: 1px solid $line        

        .title
          font-size: 24px
          font-weight: bold
          @include limited-text
        
        .base_name
          color: $hint
          font-size: 12px
          @include limited-text
          margin-bottom: 15px

        .text
          font-size: 14px
          color: $description
          display: -webkit-box
          -webkit-line-clamp: 4
          -webkit-box-orient: vertical
          overflow: hidden
          margin-bottom: 15px

        .tags
          margin-bottom: 10px
          
          ul
            display: flex
            flex-wrap: wrap

            li
              color: $text
              padding: 6px 15px
              font-size: 14px
              border-radius: 3px
              margin: 0 10px 10px 0

        .buttons
          display: flex
          justify-content: space-between
          align-items: center
          margin-bottom: 15px

          img
            width: 20px
            height: 20px
            cursor: pointer

          button
            background: none
            border: none
            font-weight: bold
          
          .show
            text-decoration: underline $description

          .delete
            color: $accent

  .tags
    .tag
      margin-bottom: 50px
      &__name
        font-size: 24px
        font-weight: bold
        margin-bottom: 15px
        display: inline-block

      

      &__ideas
        margin-bottom: 15px

        .idea
          margin-bottom: 15px
        
          &__name
            font-weight: bold
            padding-left: 30px
            position: relative

            .base_name
              font-size: 14px
              color: $hint
              margin-left: 20px
      
          &__name::before
            content: url('/static/img/vector.svg')
            width: 35px
            height: 35px
            position: absolute
            left: 0
            background-image: url('/static/img/vector.svg')
            background-repeat: no-repeat
      
  .detail_idea
    // margin-bottom: 40px
    .idea_title
      margin-bottom: 5px

    .base_name
      font-size: 14px
      color: $description
      margin-bottom: 30px

    .text
      margin-bottom: 30px


    .language-js
      color: red
    
    .language-js::before
      content: url('/static/img/js.svg')
      background-image: url('/static/img/js.svg')
      width: 20px
      height: 20px
      background-repeat: no-repeat
      top: 0
      left: 0


// ======== GENERAL STYLE


// buttons
.button
  padding: 15px 20px
  background: $accent
  border: none
  border-radius: 30px
  color: white
  

// spinner
@mixin spinner
  width: 20px
  height: 20px
  border: 2px solid rgb(236, 236, 236)
  border-bottom-color: rgb(170, 71, 71)
  border-radius: 100%
  animation: spin 1200ms infinite linear
  margin-left: 15px

@keyframes spin
  100%
   transform: rotate(360deg)

.spinner
  @include spinner
  border: 2px solid $accent
  border-bottom-color: lightgray

.large
  width: 50px
  height: 50px

.medium
  width: 35px
  height: 35px

.small
  width: 20px
  height: 20px


// modal
.modal
  position: fixed
  width: 100%
  height: 100vh
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  z-index: 30
  cursor: initial

  .shadow
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.42)
    position: fixed

  &__window
    width: 80%
    max-height: 350px
    max-width: 400px
    background: white
    border-radius: 5px
    position: relative
    text-align: left
    padding: 15px 20px

    h1
      font-size: 26px

    .close_icon
      position: absolute
      top: 15px
      right: 15px
      width: 20px
      height: 20px

    .description
      color: $description
      margin: 70px 0
      text-align: center

    .buttons
      display: flex
      justify-content: flex-end

      button
        padding: 10px 15px
        border-radius: 3px
        color: $text
        border: none
        background: none
        font-size: 16px
        font-weight: bold
        cursor: pointer
        transition: 0.3s
        border-radius: 3px
        outline: none

      button:hover
        background: #f3f3f3

// ===== ANIMATION =====

.menu-slide-enter-from,
.menu-slide-leave-to
  transform: translateX(100%)
  opacity: 0